[submodule "keyboard-driver_2.0-1_armhf/module"]
	path = beepy-kbd-2.9/module
	url = git@github.com:ardangelo/beepberry-keyboard-driver.git
[submodule "beepy-lcd-1.0/module"]
	path = sharp-drm-1.5/module
	url = git@github.com:ardangelo/sharp-drm-driver.git
[submodule "beepy-symbol-overlay-1.0/module"]
	path = beepy-symbol-overlay-1.2/module
	url = git@github.com:ardangelo/beepy-symbol-overlay.git
[submodule "beepy-tmux-menus/module"]
	path = beepy-tmux-menus-1.0/module
	url = git@github.com:ardangelo/tmux-menus.git
[submodule "beepy-gomuks-1.0/module"]
	path = beepy-gomuks-0.3/module
	url = git@github.com:ardangelo/gomuks.git
