Source: beepy-fw
Maintainer: Andrew D'Angelo <dangeloandrew@outlook.com>

Package: beepy-fw
Architecture: armhf
Depends: ${misc:Depends} python3
Section: embedded
Description: Beepy firmware and installer script
