[Unit]
Description=Beepy polling
ConditionPathExists=/sys/firmware/beepy/startup_reason
Wants=NetworkManager.service
After=NetworkManager.service

[Service]
Type=oneshot
ExecStart=/sbin/beepy-poll
StandardOutput=journal
StandardError=journal
RemainAfterExit=true
