[Unit]
Description=Beepy polling
ConditionPathExists=/sys/firmware/beepy/startup_reason
Wants=NetworkManager.service
After=NetworkManager.service

[Service]
Type=simple
RemainAfterExit=no
ExecStart=/usr/bin/beepy-poll
StandardOutput=journal
StandardError=journal
RemainAfterExit=true
